.content {
    margin-top: 50px;
    margin-bottom: 30px;
}

.ratingInput {
    max-width: 50%;
}

.map {
    position: absolute; top: 0; right: 0; bottom: 50px; left: 0;
}

.labels {
    display: inline-block;
}

.textInput {
    resize: none;
}

.footer {
    position: absolute; top: calc(100% - 100px); right: 0; bottom: 0; left: 0;
    color: black;
    height: 50px;
}