.content {
    margin-top: 50px;
    margin-bottom: 30px;
}

.ratingInput {
    max-width: 50%;
}

#map {
    width:100%;
    height:450px;
}

.labels {
    display: inline-block;
}

.textInput {
    resize: none;
}