build/
src/backend/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
.idea

# Windows
Thumbs.db
.editorconfig
.gitattributes
.gitignore
.travis.yml
LICENSE
README.md
app/basic.html
app/favicon.ico
app/humans.txt
app/images/
app/manifest.json
app/manifest.webapp
app/robots.txt
app/scripts/
app/service-worker.js
app/styles/
docs/
gulpfile.js
package.json
backend/src/
node_modules/
