{% extends "layouts/layout-jumbotron.twig" %}
{% set page_group = "loggedout" %}

{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}
    
    {% set page = page | merge({
        "title"       : "A secure, modern user management system for PHP.",
        "description" : "Main landing page for public access to this website.",
        "active_page" : ""
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}    
<header>
    <img class="img-responsive img-center" src="../../../../public/images/vesseltrip.png" alt="">

    <h1 class="text-white">Rate your Vessel</h1>
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control input-lg" type="search" placeholder="Type a MIU...">
        </div>
        <button class="btn btn-primary btn-lg">Go</button>

    </form>

</header>

{% endblock %}
